extends layout

block content
  h1= title

  form(method="POST" action='')
    div.form-group
          label(for='name') Name:
          input#name.form-control(type='text', placeholder='Name of system' name='name' required='true' value=(undefined===system ? '' : system.name) )
    button.btn(type='submit') Submit
  
  if errors 
    ul 
      for error in errors   
        li!= error.msg