body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

.container,
.main,
.header,
.game-item,
.form-group,
form {
  display: flex;
}

.container,
.form-group,
form {
  flex-direction: column;
}

.header {
  justify-content: center;
}

.header {
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 100px;
  font-size: clamp(30px, 4vh, 60px);
  gap: 20px;
}

.main {
  height: 100%;
  padding: 50px;
}

.sidebar {
  min-width: 170px;
  position: sticky;
}

.content {
  margin-left: 25px;
}

ul {
  list-style: none;
}

li {
  padding: 2.5px 0px;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

.list {
  padding-left: 20px;
  max-width: fit-content;
}

.list a {
  color: #000;
  max-width: min-content;
}

.list li {
  padding: 1px;
}

.game-item {
  width: fit-content;
  padding: 7.5px;
  border: 2px solid #00b7ff;
  border-radius: 10px;
  gap: 3px;
}

.game-item div:first-child {
  color: #00b7ff;
}

.game-item div:last-child {
  font-weight: bolder;
}

.game-item:hover {
  box-shadow: 0 2px 6px 0 rgb(60 64 67 / 30%),
    0 8px 16px 6px rgb(60 64 67 / 15%);
  transform: scale(1.02);
}

.detail-list {
  max-height: 300px;
  padding-right: 10px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.icon svg {
  height: 60px;
  width: 60px;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(319deg)
    brightness(103%) contrast(101%);
}

.form-group {
  gap: 5px;
  width: clamp(200px, 60vw, 600px);
}

.form-group label {
  font-size: 15px;
}

.form-control {
  border-radius: 7.5px;
  border: 2px solid #000;
  padding: 5px 8px;
  font-size: 14px;
}

.form-control:focus {
  outline: #00b7ff;
  border-color: #00b7ff;
}

form {
  gap: 10px;
}

.btn {
  margin-top: 10px;
  font-size: 15px;
  padding: 7.5px 20px;
  max-width: fit-content;
  background-color: #00b7ff;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn-delete {
  margin-top: 0px;
}
