body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

.container,
.main,
.header,
.game-item {
  display: flex;
}

.container {
  flex-direction: column;
}

.header {
  justify-content: center;
}

.header {
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 100px;
  font-size: clamp(30px, 4vh, 60px);
}

.main {
  height: 100%;
  padding: 50px;
  overflow-x: hidden;
}

.sidebar {
  min-width: 170px;
  position: sticky;
}

.content {
  margin-left: 25px;
}

ul {
  list-style: none;
}

li {
  padding: 2.5px 0px;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

.list {
  padding-left: 20px;
  max-width: fit-content;
}

.list a {
  color: #000;
  max-width: min-content;
}

.list li {
  padding: 1px;
}

.game-item {
  width: fit-content;
  padding: 7.5px;
  border: 2px solid #00b7ff;
  border-radius: 10px;
  gap: 3px;
}

.game-item div:first-child {
  color: #00b7ff;
}

.game-item div:last-child {
  font-weight: bolder;
}

.game-item:hover {
  box-shadow: 0 2px 6px 0 rgb(60 64 67 / 30%),
    0 8px 16px 6px rgb(60 64 67 / 15%);
  transform: scale(1.02);
}

.detail-list {
  max-height: 300px;
  padding-right: 10px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
